*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #111;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #444;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-text{
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 1rem;
}

.btn {
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: #7d2ac5;
    color: #fff;
    font-size: 1rem;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.btn:hover{
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6;
}

.list-task {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2,);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img{
    opacity: 1;
}


.done{
    background-color: #5e55ac;
    text-decoration: line-through;
}